services:
  convex:
    image: ghcr.io/get-convex/convex-backend:latest
    ports:
      - "3210:3210"
      - "3211:3211"
    volumes:
      - convex-data:/var/lib/convex/storage
    environment:
      - CONVEX_LISTEN_PORT=3210
      - CONVEX_SITE_PORT=3211
      - CLERK_ISSUER_URL=${CLERK_ISSUER_URL}
      - INSTANCE_SECRET=1db4845241f79989e9ee82e9c652eb2364a1826b733620f51b390ff7313b76d4
      - INSTANCE_NAME=centstack

volumes:
  convex-data:
